
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #ff0202;
  height: 50px;
  width: 28rem;
  color: white;
  line-height: 40px;
  text-align: center;
  margin-left: 30rem;
}
